* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: rgba(255, 255, 255, 0.9);
}
.header .menu--ul li {
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  padding: 31px;
  position: relative;
}
.header .menu--ul li a {
  padding: 31px;
  text-decoration: none;
  color: black;
}
.container {
  height: 644px;
  background-size: 1366px;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
}
.ZE {
  color: #636363;
  display: inline-block;
  margin-left: 150px;
  font-size: 40px;
}
.BRA {
  color: #06b5a9;
  display: inline-block;
  margin-right: 200px;
  font-size: 40px;
}
.logo {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
}
.menu--ul {
  display: inline-block;
  cursor: pointer;
}
.header .menu--ul li a:hover {
  background-color: red;
  color: white;
}
.submenu {
  width: 600px;
  height: 300px;
  background-color: red;
  position: absolute;
  left: 31px;
  top: 80px;
  display: none;
}
.header .menu--ul li a:hover ~ .submenu {
  display: block;
}
.zebra {
  height: 70px;
  width: 200px;
  border: 0.5px solid white;
  padding-top: 15px;
}
.sublogo {
  width: 200px;
  height: 230px;
  border: 0.5px solid white;
  background-image: url(wor.png);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.subze {
  color: white;
  font-size: 30px;
  display: inline-block;
  padding-left: 45px;
  font-weight: bold;
}
.subbra {
  color: #ffc8cd;
  font-size: 30px;
  display: inline-block;
  font-weight: bold;
}
.subtext {
  border: 1px solid white;
  width: 200px;
  height: 300px;
}
.levo {
  width: 200px;
  height: 300px;
  display: inline-block;
}
.pravo {
  width: 200px;
  height: 300px;
  display: inline-block;
  margin: -4px;
  vertical-align: 29px;
  border: 1px solid white;
}
.p1 {
  margin-bottom: px;
  margin-top: 15px;
  text-align: center;
  color: white;
}
.p2 {
  text-align: center;
  margin-top: 25px;
  color: white;
}
.subtext2 {
  border: 1px solid white;
  width: 200px;
  height: 300px;
}
.pravo2 {
  display: inline-block;
  vertical-align: 29px;
}
